<div class="w-screen h-screen flex-col flex items-center justify-center bg-gray-100 dark:bg-gray-900">
  <div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <%= render "rooms/chat/sidebar" %>
      <%= render "rooms/chat/chat" %>
    </div>
  </div>
</div>

